4-unit-test/node_modules
4-unit-test/coverage
4-unit-test/vendor

5-logging/node_modules
5-logging/*.log
5-logging/.d29b5342bac6cd4b74f6ce5fa80d9717feaf891a-audit.json
5-logging/daily-*
5-logging/test/*.log
5-logging/src/*.log